
@model List<MovieApiViewModel>

    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<table class="table table-bordered">

    <tr>
        <th>Sıralama</th>
        <th>Resim</th>
        <th>Film Adı</th>
        <th>Yapım Yılı</th>
        <th>Rating</th>
        <th>Fragman</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.rank</td>
            <td><img src="@item.image" class="img-thumbnail"/ style="width:75px;height:75px;"></td>
            <td>@item.title</td>
            <td>@item.year</td>
            <td>@item.rating</td>
            <td><a href="@item.trailer" class="btn btn-primary">Fragman İzle</a></td>
        </tr>
    }


</table>

