
@model ResultAboutDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Hakkımızda</h3>
<hr />

<table class="table table-striped">

    <tr>
        <th>#</th>
        <th>Başlık 1</th>
        <th>Başlık 2</th>
        <th>Güncelle</th>
    </tr>
   
        <tr>
            <td>@Model.AboutID</td>
            <td>@Model.Title1</td>
            <td>@Model.Title2</td>
            <td><a href="#" class="btn btn-outline-success btn-rounded" data-toggle="modal" data-target="#Modal1-@Model.AboutID">Güncelle</a></td>
        </tr>
        <form method="post" action="/AdminAbout/UpdateAbout/">

            <div class="modal" id="Modal1-@Model.AboutID" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <input type="hidden" asp-for="@Model.AboutID" />
                        <input type="hidden" asp-for="@Model.RoomCount" />
                        <input type="hidden" asp-for="@Model.StaffCount" />
                        <input type="hidden" asp-for="@Model.CustomerCount" />
                        <div class="modal-header">
                            <h5 class="modal-title">Hakkımızda Güncelle</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label class="form-label">Başlık 1</label>
                                <input type="text" asp-for="@Model.Title1" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="form-label">Başlık 2</label>
                                <input type="text" asp-for="@Model.Title2" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">İçerik</label>
                                <textarea asp-for="@Model.Content" cols="5" rows="7" class="form-control"> @Model.Content  </textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            <button type="submit" class="btn btn-primary">Güncelle</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    

</table>


